main {
    min-height: 100vh;
    background: #e53935;
    background: -webkit-linear-gradient(to right, #e35d5b, #e53935);
    background: linear-gradient(to right, #e35d5b, #e53935);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.mesa {
    width: 90%;
    height: 90%;
    margin: 5%;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 1.5em;
    flex-wrap: wrap;
}

.tarjeta {
    background-image: url(../../Imagenes/Amorcito/Fondos-memorama/F5.jpg);
    background-size: contain;
    width: 9.5em;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-style: solid;
    border-radius: 2.5%;
    transition: 0.3s;
    backface-visibility: hidden;
    cursor: pointer;
    transform-style: preserve-3d;
}

.tarjeta:hover {
    transform: scale(1.1);
}

.contenidoTarjeta {
    width: 9.5em;
    height: 13em;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-style: solid;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-style: solid;
    border-radius: 2.5%;
    transition: 0.3s;
}

.contenidoTarjeta::selection {
    background: transparent;
}

.tarjeta.descubierta {
    transform: rotateY(-180deg);
}

@keyframes error {

    10%,
    90% {
        transform: rotateY(-180deg) translateX(-1px);
    }

    20%,
    80% {
        transform: rotateY(-180deg) translateX(2px);
    }

    30%,
    50%,
    70% {
        transform: rotateY(-180deg) translateX(-4px);
    }

    40%,
    60% {
        transform: rotateY(-180deg) translateX(4px);
    }
}

@keyframes acierto {
    from {
        transform: rotateY(-180deg) scale3d(1, 1, 1);
        opacity: 1;
    }

    25% {
        transform: rotateY(-180deg) scale3d(1.1, 1.1, 1.1);
        opacity: 1;
    }

    to {
        transform: rotateY(-180deg) scale3d(1, 1, 1);
        opacity: 0;
    }
}

.acertada {
    pointer-events: none;
}

.acertada .contenidoTarjeta {
    animation: acierto 1.3s ease-in-out forwards;
}

.error {
    animation: error 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.sube-nivel,
.game-over,
.end-game {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: var(--gradient);
}

.sube-nivel.visible,
.game-over.visible,
.end-game.visible {
    display: flex;
}

.modal {
    background: white;
    padding: 3rem 3rem 1rem;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.modal h2 {
    color: var(--orange);
    font-family: var(--font-display);
    margin: 0;
}

.modal p {
    font-size: 1.5rem;
}

.modal button {
    margin: 3rem 0;
}

button {
    cursor: pointer;
    border: 0;
    background-image: var(--gradient);
    padding: 0.75rem 4rem;
    border-radius: 5rem;
    color: white;
    font-family: var(--font-display);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1;
    transition: 0.3s;
}

button:hover,
button:focus {
    opacity: 0.9;
    outline: 0;
}

.modal .reiniciar {
    color: var(--hotpink);
    background: transparent;
    border: 0;
    text-transform: capitalize;
    font-family: var(--font);
    font-size: 1rem;
    margin: 0;
}