cursor {
    color: #0A3871;
    width: 20px;
}

body {
    background: #12c2e9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 500% 500%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

main {
    position: relative;
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    transform: scale(1);
    transition: .5s;
}

.bloq-izq {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.text-input {
    height: 50vh;
    width: 100%
}

.textarea {
    background: none;
    border: none;
    width: 90%;
    height: 62.5vh;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    font-size: 3em;
    line-height: 150%;
    color: #FFFFFF;
    text-align: justify;
}

.textarea:focus {
    border: none;
    outline: none;
}


.bloq-izq-bottom {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    gap: 20px;
}

.alerta {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    transition: .5s;
}

.alerta img {
    width: 16px;
    height: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
}


.alerta p {
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    font-size: 1.4em;
    line-height: 150%;
    color: #495057;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;

}

.encriptar {
    display: flex;
    justify-content: center;
    width: 328px;
    height: 67px;
    border-radius: 50px;
    border: 0;
    background-color: rgb(245, 245, 245);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 1.2em;
    transition: all .5s ease;
    border-radius: 24px;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    border: none;
    color: #343A40;
    transition: 0.5s;
}

.encriptar:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.encriptar:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}


.desencriptar {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 328px;
    height: 67px;
    border-radius: 50px;
    border: 0;
    background-color: rgb(245, 245, 245);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 1.2em;
    transition: all .5s ease;
    border-radius: 24px;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    border: none;
    color: #343A40;
    transition: 0.5s;
}

.desencriptar:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.desencriptar:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}



.bloq-der {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    min-height: 60vh;
    background: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 32px;
}

.text-result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;
    height: 50vh;
}

.text-result img {
    height: 40%;
}

.textos-de-resultados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.texto-desc {
    width: 80%;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 150%;
    text-align: center;
    color: #495057;
}

.text-result-encrypted {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
}


.text-encrypted {
    background: none;
    border: none;
    width: 90%;
    height: 50vh;
    margin-top: .5em;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    font-size: 2em;
    line-height: 150%;
    color: #495057;
    text-align: justify;
}

.text-encrypted:focus {
    outline: none;

}

.bottom-buttons {
    width: 100%;
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
    justify-content: center;
    flex-direction: column;
}


.boton-copiar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.copiar {
    width: 90%;
    box-sizing: border-box;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    font-size: 1.2em;
    line-height: 19px;
    padding: 1.5em;
    margin-top: 2.0em;
    margin-bottom: 1.5em;
    text-align: center;
    border-radius: 50px;
    border: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    transition: all .5s ease;
    border-radius: 24px;
    font-family: "Dancing Script", cursive;
    border: none;
    color: #343A40;
    transition: 0.5s;

}

.copiar:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.copiar:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}


.boton-lista {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.lista {

    width: 90%;
    box-sizing: border-box;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    font-size: 1.2em;
    line-height: 19px;
    padding: 1.5em;
    margin-bottom: 1.5em;
    text-align: center;
    border-radius: 50px;
    border: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    transition: all .5s ease;
    border-radius: 24px;
    font-family: "Dancing Script", cursive;
    border: none;
    color: #343A40;
    transition: 0.5s;
}

.lista:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.lista:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

.lista-secretos {
    display: none;
}

.cerrar {
    width: 100%;
    height: 10%;
    background: #EECDA3;
    background: -webkit-linear-gradient(to top, #EF629F, #EECDA3);
    background: linear-gradient(to top, #EF629F, #EECDA3);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    font-size: 2em;
    color: #FFFFFF;
    font-family: 'Itim', cursive;
    border: none;
    transition: .5s;
}

.cerrar:hover {
    letter-spacing: 3px;
    font-size: 2.25em;
    text-align: center;
    background-color: hsl(0, 100%, 50%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(255, 0, 0) 0px 7px 29px 0px;
}

.lista-secretos-textarea {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 85%;
    margin-top: -2vh;
    background: none;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);

    font-family: "Dancing Script", cursive;
    font-weight: 700;
    font-size: 3em;
    color: rgb(0, 0, 0);
    text-align: justify;
    z-index: 1;
}

.lista-secretos-textarea {
    border: none;
    outline: none;
}

.lista-secretos.visible {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 50vw;
    height: 60vh;
    background-image: url(../Mensaje-Secreto/Imagenes/fondo-carta-1.jpg);
    background-size: cover;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}



@media (max-width:1380px) {

    .bloq-izq {
        transform: scale(.8);
    }

    .bloq-der {
        transform: scale(.8);
    }

}

@media (max-width:1250px) {}

@media (max-width:1170px) {
    .bloq-izq {
        transform: scale(.7);
    }

    .bloq-der {
        transform: scale(.7);
    }

    main {
        padding-top: 0vh;
        padding-bottom: 0vh;
    }

}

@media (max-width:1000px) {

    main {
        padding-top: 10vh;
        padding-bottom: 5vh;
        transform: scale(1);
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .bloq-izq {
        transform: scale(1);
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bloq-izq-bottom {
        margin-bottom: 3em;
    }


    .textarea {
        align-self: flex-start;
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
        height: 45vh;

    }


    .bloq-der {
        transform: scale(1);
        width: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .bloq-der img {
        display: none;
    }

    .texto-desc {
        font-size: 2em;
    }

    .text-result {
        width: 95%;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    .texto-mensaje-null,
    .texto-desc {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .texto-mensaje-null p,
    .texto-desc p {
        text-align: center;
    }

}

@media (max-width: 700px) {

    .bloq-izq-bottom {
        transform: scale(.9);
        margin: 0;
        margin-bottom: 1em;
    }
}

@media (max-width: 650px) {

    .bloq-izq-bottom {
        transform: scale(.8);
    }
}

@media (max-width: 580px) {

    .bloq-der {
        height: 50%;
    }

    .logo {
        transform: scale(.7);

    }

    .bloq-izq-bottom {
        transform: scale(1);
        width: 85%;
    }

    .botones {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .boton-encriptar {
        width: 100%;
    }

    .encriptar {
        width: 100%;
    }

    .boton-desencriptar {
        width: 100%;
    }

    .desencriptar {
        width: 100%;
    }
}

@media (max-width: 450px) {



    .texto-mensaje-null {
        font-size: 1.3em;

    }

    .texto-desc {
        font-size: 1.0em;

    }
}

@media (max-width: 400px) {

    .text-encrypted {
        font-size: 1.3em;
    }

    .textarea {
        font-size: 1.3em;
    }
}